body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
  }
 :root{
    --frt-bg: #2e2f42;
    --light:#ffffff;
    --navy-blue: #2e2f42;
    --blue: #4d5ae5;
    --whitish: #f4f4fd;
 } 
  .studio-header {
    color: #2E2F42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }
  .header-address{
    font-style: normal;
  }

  .header-address-list {
    text-decoration: none;
    list-style-type: none;
  }
  
  .header-address-mail {
    color: #434455;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;
  }
  
  .header-address-tel {
    color: #434455;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;
  }
  
  .hero {
    background-color: #2e2f42;
  }
  
  .hero-logo {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
  }
  
  .order-service-button {
    color: white;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    background-color: #4D5AE5;
    cursor: pointer;
  }
  .order-service-button:hover{
    background-color: #404BBF
  }
  .order-service-button:focus{
    background-color: #404BBF
  }
  
  .main-info-list {
    list-style-type: none;
  }
  
  .main-info-a{
    color: #2E2F42;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.40px;
    word-wrap: break-word;
    list-style-type: none;
  }
  
  .main-info-text {
    color: #434455;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em
  }
  .second-main-info-header {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .main-info-team {
    background: var(--cloud, #F4F4FD);
  }
  
  .main-info-team-header {
    font-family: Roboto, sans-serif;
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  
  .main-info-team-list {
    list-style-type: none;
    background: var(--white, #FFF);
  }
  
  footer {
    background: var(--navyblue, #2E2F42);
  }
  
  .studio-header-footer {
    color:#f4f4fd;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }
  
  .footer-text {
    color: var(--cloud, #F4F4FD);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .header-developers {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
  }
  
  .developer-text {
    color: #434455;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
  }
  
  .btnall {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    color: #4D5AE5;
    text-align: center;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
    cursor: pointer;
  }
  
  .btnall:hover {
    color: #FFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    background: var(--ocean, #404BBF);
  }
  .btnall:focus {
  color: #FFFFFF;
  background-color: #404BBF;
  }
  
  .list {
    list-style-type: none;
     text-decoration: none;
  }
  
  .row-list-headline {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
  }
  
  .row-list-text {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
  }
  .link{
    color: #4D5AE5;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-decoration: none;
    list-style-type: none;
  }
   .header-logo {
    color: #2E2F42;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;
  }
  .link:hover{
    color: #404bbf;
  }
  .link:focus{
    color: #404bbf;
  }
.link-c{
  color: var(--slate, #434455);
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
text-decoration: none;
}
