:root {
    --background-color: #FFFFFF;
}

.current::after {
    width: 100%;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    display: block;

}


div {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

.body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto", sans-serif;


}

.foterstyle {
    background-color: #2e2f42;
    padding: 100px 0;
}

.logotype {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    
    position: relative;
}

.sectionone {
    background-color: #2e2f42;
    padding: 188px 0 188px;

    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;


}

.titleone {

    font-style: normal;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;

    margin: 0 auto;

}

.button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 72px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;



}

.button:hover {
    background-color: #404BBF
}

.button:focus {
    background-color: #404BBF
}


.titletwo {

    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue, #2E2F42);
    margin-bottom: 8px;

}

.titlethree {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

.divtwo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    display: block;

}




.listparagraph {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;

    margin: 0 auto;


}

.listparagraph:focus {
    transform: translateY(0%)
}

.listparagraph:hover {
    transform: translateY(0%)
}

.team {

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.sectionfour {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.listitemtwo {
    background-color: #ffffff;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    ;
}

.linktwo {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.span {
    color: #f4f4fd;
}

.list {
    list-style: none;
}

.spantwo {
    color: #2e2f42;
}

.headerlink {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.headerlink:hover {
    color: #404bbf;
}

.headerlink:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}


.link {
    text-decoration: none;
}

.mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}




.mail:hover {
    color: #404bbf;
}

.mail:focus {
    color: #404bbf
}

.buttontwo {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.buttontwo:hover {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttontwo:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.sectionfive {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.img {
    display: block;
    max-width:360px; 
    max-height:300px;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.div {
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px 0 16px;



}

:root {
	/* Fonts */
	--primary-font: 'Roboto', sans-serif;
	/* Colors */
	--primary-brand-color: #4d5ae5;
	--pressed-state-color: #404bbf;
	--dark-color: #2e2f42;
	--success-color: #31d0aa;
	--text-color: #434455;
	--subtle-text-color: #8e8f99;
	--whight-color: #ffffff;
	--light-color: #f4f4fd;
	--modal-backdrop-color: #fcfcfc;
	--modal-overlay-color: rgba(46, 47, 66, 0.4);
  }
  
  /* reset */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
	margin: 0;
  }
  
  .list {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .link {
	color: currentColor;
	text-decoration: none;
  }
  
  .img {
	display: block;
	max-width: 100%;
	height: auto;
  }
  .button {
	font-family: inherit;
	cursor: pointer;
	padding: 0;
  }
  
  input {
	font-family: inherit;
  }
  
  textarea {
	font-family: inherit;
  }
  
  /* Base styles */
  
  .body {
	font-family: var(--primary-font);
	color: var(--text-color);
	background-color: var(--whight-color);
  }
  
  .container {
	min-width: 320px;
	max-width: 428px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
  }
  
  @media screen and (min-width: 768px) {
	.container {
	  max-width: 768px;
	}
  }
  
  @media screen and (min-width: 768px) and (max-width: 1157.98px) {
	.tablet-container {
	  max-width: 584px;
	}
  }
  
  @media screen and (min-width: 1158px) {
	.container {
	  max-width: 1158px;
	  padding-left: 15px;
	  padding-right: 15px;
	}
  }
  
  .visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
  }
  
  .section-title {
	margin: 0 auto;
	margin-bottom: 72px;
  
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	color: var(--dark-color);
	text-align: center;
	text-transform: capitalize;
  }
  
  .header-logo,
  .footer-logo {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-brand-color);
  }
  
  /* Header styles */
  
  .header {
	border-bottom: 1px solid #e7e9fc;
	box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
	  0px 1px 1px 0px rgba(46, 47, 66, 0.16),
	  0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
  
  .header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  .header-nav {
	display: flex;
	align-items: center;
  }
  
  .span-header {
	color: var(--dark-color);
  }
  
  .nav-list {
	display: flex;
	align-items: center;
	gap: 40px;
  }
  
  .nav-link {
	position: relative;
  
	display: block;
	padding-top: 24px;
	padding-bottom: 24px;
  
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--dark-color);
  }
  
  .nav-link.current {
	color: var(--pressed-state-color);
  }
  
  .nav-link::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -1px;
  
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 2px;
  }
  
  .nav-link.current::after {
	background-color: var(--pressed-state-color);
  }
  
  .nav-link:hover,
  .nav-link:focus {
	color: var(--pressed-state-color);
  }
  
  .address {
	font-style: normal;
  }
  
  .address-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
  }
  
  .address-link {
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
  }
  
  .address-link:hover,
  .address-link:focus {
	color: var(--pressed-state-color);
  }
  
  .menu-burger {
	min-height: 22px;
	min-width: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
  
	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
	outline: none;
  }
  
  .mobile-menu-icon {
	stroke: var(--dark-color);
  }
  
  @media screen and (max-width: 767.98px) {
	.header {
	  padding: 24px 0;
	}
  
	.nav-list {
	  display: none;
	}
  
	.address {
	  display: none;
	}
  }
  
  @media screen and (min-width: 768px) {
	.header-logo {
	  margin-right: 120px;
	}
  
	.menu-burger {
	  display: none;
	}
  }
  
  @media screen and (min-width: 1158px) {
	.header-logo {
	  margin-right: 76px;
	}
  
	.address-list {
	  flex-direction: row;
	  align-items: center;
	  gap: 40px;
	}
  
	.address-link {
	  font-size: 16px;
	  line-height: 1.5;
	  letter-spacing: 0.02em;
	}
  }
  
  /* Styles page main content */
  /* Styles Hero */
  
  .hero {
	max-width: 100%;
	margin: 0 auto;
	padding: 112px 0;
	background-color: var(--dark-color);
	background-image: linear-gradient(
		rgba(46, 47, 66, 0.7),
		rgba(46, 47, 66, 0.7)
	  ),
	  url(../images/Studio/hero-bg_mob@1x.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  }
  
  @media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
	.hero {
	  background-image: linear-gradient(
		  rgba(46, 47, 66, 0.7),
		  rgba(46, 47, 66, 0.7)
		),
		url(../images/Studio/hero-bg_mob@2x.jpg);
	}
  }
  
  .hero-title {
	max-width: 320px;
	margin: 0 auto 72px;
  
	color: var(--whight-color);
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.72px;
	letter-spacing: 0.02em;
  }
  
  .hero-button {
	display: block;
	margin: 0 auto;
	padding: 16px 32px;
	border-radius: 4px;
	min-width: 169px;
	height: 56px;
	border: none;
  
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--whight-color);
	background-color: var(--primary-brand-color);
  }
  
  .hero-button:hover,
  .hero-button:focus {
	background-color: var(--pressed-state-color);
  }
  
  @media screen and (min-width: 768px) {
	.hero {
	  background-image: linear-gradient(
		  rgba(46, 47, 66, 0.7),
		  rgba(46, 47, 66, 0.7)
		),
		url(../images/Studio/hero-bg_tab@1x.jpg);
	}
  
	@media screen and (min-device-pixel-ratio: 2),
	  screen and (min-resolution: 192dpi),
	  screen and (min-resolution: 2dppx) {
	  .hero {
		background-image: linear-gradient(
			rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7)
		  ),
		  url(../images/Studio/hero-bg_tab@2x.jpg);
	  }
	}
  
	.hero-title {
	  max-width: 496px;
	  margin: 0 auto 36px;
  
	  font-size: 56px;
	  line-height: 1.07;
	}
  }
  
  @media screen and (min-width: 1158px) {
	.hero {
	  max-width: 1440px;
	  padding: 188px 0;
	  background-image: linear-gradient(
		  rgba(46, 47, 66, 0.7),
		  rgba(46, 47, 66, 0.7)
		),
		url(../images/Studio/hero-bg_desk@1x.jpg);
	}
  
	@media screen and (min-device-pixel-ratio: 2),
	  screen and (min-resolution: 192dpi),
	  screen and (min-resolution: 2dppx) {
	  .hero {
		background-image: linear-gradient(
			rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7)
		  ),
		  url(../images/Studio/hero-bg_desk@2x.jpg);
	  }
	}
  
	.hero-title {
	  margin: 0 auto 48px;
	}
  }
  
  /* Styles Features */
  
  .features {
	padding: 96px 0;
  }
  
  @media screen and (max-width: 767.98px) {
	.features-list-item:not(:last-child) {
	  margin-bottom: 72px;
	}
  }
  
  .features-list-wrapper {
	display: none;
  }
  
  .features-subtitle {
	margin-bottom: 8px;
  
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	color: var(--dark-color);
  }
  
  .features-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
  }
  
  @media screen and (min-width: 768px) {
	.features-list {
	  display: flex;
	  flex-wrap: wrap;
	  gap: 72px 24px;
	}
  
	.features-list-item {
	  flex-basis: calc((100% - 24px) / 2);
	}
  
	.features-subtitle {
	  text-align: left;
	}
  }
  
  @media screen and (min-width: 1158px) {
	.features {
	  padding: 120px 0;
	}
  
	.features-list-item {
	  flex-basis: calc((100% - 24px * 3) / 4);
	}
  
	.features-list-wrapper {
	  display: flex;
	  align-items: center;
	  justify-content: center;
  
	  height: 112px;
	  padding: 24px 0;
	  margin-bottom: 8px;
  
	  border-radius: 4px;
	  background-color: var(--light-color);
	}
  
	.features-list-icon {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  width: 100%;
	  height: 100%;
	}
  
	.features-subtitle {
	  font-size: 20px;
	  font-weight: 500;
	  line-height: 1.2;
	}
  }
  
  /* Styles Gallery of works */
  
  @media screen and (max-width: 1157.98px) {
	.works {
	  display: none;
	}
  }
  
  .works {
	padding-bottom: 120px;
  }
  
  .works-list {
	display: flex;
	gap: 24px;
  }
  
  .works-list-item {
	flex-basis: calc((100% - 24px * 2) / 3);
  }
  
  /* Styles Team */
  
  .team {
	background-color: var(--light-color);
	padding: 96px 0;
  }
  
  .team-list {
	display: flex;
	flex-wrap: wrap;
	gap: 72px 24px;
	max-width: 264px;
	margin: 0 auto;
  }
  
  .team-list-item {
	flex-basis: 100%;
	background-color: var(--whight-color);
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
	  0px 1px 1px 0px rgba(46, 47, 66, 0.16),
	  0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  
  .team-list-container {
	padding: 32px 0;
  }
  
  .team-subtitle {
	margin-bottom: 8px;
  
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--dark-color);
	text-align: center;
  }
  
  .team-text {
	margin-bottom: 8px;
  
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
  }
  
  .team-list-socials {
	display: flex;
	justify-content: center;
	gap: 24px;
  }
  
  .team-list-socials-item {
	width: 40px;
	height: 40px;
  }
  
  .team-list-socials-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
  
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
	border-radius: 50%;
	background-color: var(--primary-brand-color);
  
	color: var(--light-color);
  }
  
  .team-list-socials-link:hover,
  .team-list-socials-link:focus {
	background-color: var(--pressed-state-color);
  }
  
  .team-list-icon {
	fill: currentColor;
  }
  
  @media screen and (min-width: 768px) {
	.team-list {
	  max-width: 552px;
	}
  
	.team-list-item {
	  flex-basis: calc((100% - 24px) / 2);
	}
  }
  
  @media screen and (min-width: 1158px) {
	.team {
	  padding: 120px 0;
	}
  
	.team-list {
	  max-width: 1128px;
	}
  
	.team-list-item {
	  flex-basis: calc((100% - 24px * 3) / 4);
	}
  }
  
  /* Styles Customers */
  
  .customers {
	padding: 96px 0;
  }
  
  .customers-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 72px 16px;
	margin: 0 auto;
  }
  
  .customers-list-item {
	flex-basis: calc((100% - 16px) / 2);
	height: 88px;
  }
  
  .customers-list-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
  
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
	border-radius: 4px;
	border: 1px solid var(--subtle-text-color);
  
	color: var(--subtle-text-color);
  }
  
  .customers-list-icon {
	fill: currentColor;
  }
  
  .customers-list-link:hover,
  .customers-list-link:focus {
	border-color: var(--pressed-state-color);
	color: var(--pressed-state-color);
  }
  
  @media screen and (min-width: 768px) {
	.customers-list {
	  /* max-width: 552px; */
	  gap: 72px 24px;
	}
  
	.customers-list-item {
	  flex-basis: calc((100% - 24px * 2) / 3);
	}
  }
  
  @media screen and (min-width: 1158px) {
	.customers {
	  padding: 120px 0;
	}
  
	.customers-list {
	  max-width: 1128px;
	}
  
	.customers-list-item {
	  flex-basis: calc((100% - 24px * 5) / 6);
	}
  }
  
  /* Styles portfolio main content */
  /* Styles Filters */
  
  .portfolio {
	padding-top: 96px;
	padding-bottom: 120px;
  }
  
  .filters-list {
	display: flex;
	justify-content: center;
	gap: 24px;
	margin-bottom: 72px;
  }
  
  .filters-button {
	padding: 12px 24px;
	border-radius: 4px;
	border: 1px solid #e7e9fc;
  
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--primary-brand-color);
	background-color: var(--light-color);
  }
  
  .filters-button:hover,
  .filters-button:focus {
	color: var(--whight-color);
	background-color: var(--pressed-state-color);
	border: 1px solid transparent;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
	  0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .projects-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 48px;
  }
  
  .projects-list-item {
	width: calc((100% - 24px * 2) / 3);
  }
  
  .projects-list-link {
	display: block;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .projects-list-link:hover,
  .projects-list-link:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
	  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  
  .projects-box {
	position: relative;
	overflow: hidden;
  }
  
  .overlay {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	width: 100%;
	height: 100%;
	padding: 40px 32px;
  
	background-color: var(--primary-brand-color);
  
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--light-color);
  }
  
  .projects-list-link:hover .overlay,
  .projects-list-link:focus .overlay {
	transform: translateY(0%);
  }
  
  .projects-list-container {
	padding: 32px 16px;
	border: 1px solid #e7e9fc;
	border-top: none;
  }
  
  .projects-title {
	margin-bottom: 8px;
  
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--dark-color);
  }
  
  .projects-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--text-color);
  }
  
  /* Styles Footer */
  
  .footer {
	background-color: var(--dark-color);
	padding: 96px 0;
  }
  .footer-container {
	display: flex;
	flex-direction: column;
	gap: 72px;
  }
  
  .footer-logo {
	display: inline-block;
	margin-bottom: 16px;
  }
  
  .span-footer {
	color: var(--light-color);
  }
  
  .footer-text {
	max-width: 264px;
  
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--light-color);
  }
  
  @media screen and (max-width: 767.98px) {
	.logo-container {
	  margin: 0 auto;
	}
  
	.footer-logo {
	  display: block;
	  text-align: center;
	}
  }
  
  @media screen and (min-width: 768px) {
	.footer-container {
	  flex-direction: row;
	  flex-wrap: wrap;
	  gap: 72px 24px;
	}
  }
  
  @media screen and (min-width: 1158px) {
	.footer {
	  padding: 100px 0;
	}
  
	.footer-container {
	  align-items: baseline;
	}
  
	.logo-container {
	  margin-right: 120px;
	}
  }
  
  /* Footer Media */
  
  .footer-media {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--whight-color);
  
	margin-bottom: 16px;
  }
  
  .footer-list-socials {
	display: flex;
	gap: 16px;
  }
  
  .footer-list-socials-item {
	width: 40px;
	height: 40px;
  }
  
  .footer-list-socials-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
  
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
	border-radius: 50%;
	background-color: var(--primary-brand-color);
  
	color: var(--light-color);
  }
  
  .footer-list-socials-link:hover,
  .footer-list-socials-link:focus {
	background-color: var(--success-color);
  }
  
  .footer-list-icon {
	fill: currentColor;
  }
  
  @media screen and (max-width: 767.98px) {
	.media-container {
	  margin: 0 auto;
	}
  
	.footer-media {
	  text-align: center;
	}
  }
  
  /* Footer Form */
  
  .footer-form {
	display: flex;
	align-items: center;
	gap: 24px;
  }
  
  .footer-form-text {
	margin-bottom: 16px;
  
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--whight-color);
  }
  
  .footer-form-label {
	width: 100%;
  }
  
  .footer-form-input {
	width: 264px;
	height: 40px;
	padding: 8px 16px;
  
	border-radius: 4px;
	border: 1px solid var(--whight-color);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	background-color: transparent;
	outline: transparent;
  
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--whight-color);
  }
  
  .footer-form-input::placeholder {
	color: currentColor;
  }
  
  .footer-form-button {
	display: inline-flex;
	padding: 8px 24px;
	justify-content: center;
	align-items: center;
  
	min-width: 165px;
	height: 40px;
	border: none;
	border-radius: 4px;
	background-color: var(--primary-brand-color);
  
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	text-align: center;
	color: var(--whight-color);
  
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-form-button-icon {
	fill: currentColor;
	margin-left: 16px;
  }
  
  .footer-form-button:hover,
  .footer-form-button:focus {
	background-color: var(--pressed-state-color);
  }
  
  @media screen and (max-width: 767.98px) {
	.footer-form {
	  display: flex;
	  flex-direction: column;
	  row-gap: 16px;
	}
  
	.footer-form-text {
	  text-align: center;
	}
  
	.footer-form-input {
	  width: 100%;
	}
  }
  
  @media screen and (min-width: 1158px) {
	.footer-form-container {
	  margin-left: auto;
	}
  }
  
  /*Modal Window*/
  
  .backdrop {
	position: fixed;
	top: 0;
	left: 0;
  
	width: 100%;
	height: 100%;
  
	background-color: var(--modal-overlay-color);
  
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
  }
  
  .modal {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 24px;
	padding-top: 72px;
	transform: translate(-50%, -50%) scale(1);
  
	width: 408px;
	min-height: 584px;
	border-radius: 4px;
	background-color: var(--modal-backdrop-color);
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
	  0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  @media screen and (max-width: 767.98px) {
	.modal {
	  width: 90%;
	  max-width: 392px;
	}
  }
  
  .backdrop.is-hidden .modal {
	transform: translateX(-50%) translateY(-70%);
  }
  
  .modal-button {
	position: absolute;
	top: 24px;
	right: 24px;
  
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
  
	background-color: #e7e9fc;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .modal-button:hover,
  .modal-button:focus {
	color: var(--whight-color);
	background-color: var(--pressed-state-color);
	border: none;
  }
  
  .modal-button-icon {
	fill: currentColor;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  /* Modal form */
  
  .modal-caption {
	margin-bottom: 16px;
  
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--dark-color);
  }
  
  .modal-form-container {
	margin-bottom: 8px;
  }
  
  .modal-form-label {
	display: block;
	margin-bottom: 4px;
  
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: var(--subtle-text-color);
  }
  
  .modal-form-field {
	position: relative;
  }
  
  .modal-form-input,
  .modal-form-comment {
	width: 100%;
	height: 40px;
	padding-left: 38px;
  
	border-radius: 4px;
	border: 1px solid var(--modal-overlay-color);
	outline: transparent;
	background-color: transparent;
  
	color: var(--modal-overlay-color);
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
  
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-form-icon {
	position: absolute;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
  
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-form-input:focus,
  .modal-form-comment:focus {
	border-color: var(--primary-brand-color);
  }
  
  .modal-form-input:focus + .modal-form-icon {
	fill: var(--primary-brand-color);
  }
  
  .modal-form-comment-container {
	margin-bottom: 16px;
  }
  
  .modal-form-comment {
	height: 120px;
	padding: 8px 16px;
  
	resize: none;
  }
  
  .modal-form-privacy-container {
	margin-bottom: 24px;
  }
  
  .modal-form-checkbox {
  }
  
  .checkbox-span {
	display: inline-flex;
	align-items: center;
	justify-content: center;
  
	width: 16px;
	height: 16px;
	margin-right: 8px;
	border: 1px solid var(--modal-overlay-color);
	border-radius: 2px;
	fill: transparent;
  
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  border 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  input[type='checkbox']:checked + label span {
	background-color: var(--pressed-state-color);
	border: none;
	fill: var(--light-color);
  }
  
  .modal-form-link {
	color: var(--primary-brand-color);
  }
  
  .modal-form-button {
	display: block;
	min-width: 169px;
	height: 56px;
	padding: 16px 32px;
	margin-left: auto;
	margin-right: auto;
  
	background-color: var(--primary-brand-color);
	border: none;
	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	text-align: center;
	color: var(--whight-color);
  
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-form-button:hover,
  .modal-form-button:focus {
	background-color: var(--pressed-state-color);
  }
  
  /* Mobile menu */
  
  .menu-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  
	background-color: var(--whight-color);
  
	z-index: 999;
  
	transform: translateX(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-container.is-open {
	transform: translateX(0);
  }
  
  .mobile-menu-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 428px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 80px 35px 40px 40px;
  }
  
  .menu-toggle {
	position: absolute;
	top: 24px;
	right: 24px;
  
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
  
	color: var(--dark-color);
	background-color: #e7e9fc;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .menu-toggle-icon {
	fill: currentColor;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
	color: var(--whight-color);
	background-color: var(--pressed-state-color);
	border: none;
  }
  
  .mobile-menu {
	margin-bottom: auto;
  }
  
  .mobile-menu-item:not(:last-child) {
	margin-bottom: 40px;
  }
  
  .mobile-menu-link {
	color: var(--dark-color);
  
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
  }
  
  .mobile-menu-link.current {
	color: var(--pressed-state-color);
  }
  
  .mobile-address-list {
	margin-bottom: 48px;
  }
  
  .mobile-address-item:not(:last-child) {
	margin-bottom: 40px;
  }
  
  .mobile-address-link.phone {
	color: var(--primary-brand-color);
  
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
  }
  
  .mobile-address-link.email {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
  }
  
  .mobile-list-socials {
	display: flex;
	justify-content: space-between;
	max-width: 328px;
  }
  
  .mobile-list-socials-item {
	width: 40px;
	height: 40px;
  }
  
  .mobile-list-socials-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
  
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
	border-radius: 50%;
	background-color: var(--primary-brand-color);
  
	color: var(--light-color);
  }
  
  .mobile-list-socials-link:hover,
  .mobile-list-socials-link:focus {
	background-color: var(--success-color);
  }
  
  .mobile-socials-icon {
	fill: currentColor;
  }
  
  @media screen and (max-width: 428px) {
	.mobile-address-link.phone {
	  font-size: 20px;
	  font-weight: 500;
	  line-height: 1.11;
	  letter-spacing: 0.02em;
	}
  }
  
  @media screen and (min-width: 768px) {
	.menu-container {
	  display: none;
	}
  }
.nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;

}

.menumenu {

    gap: 40px;

}

.connection {
    display: flex;
    gap: 40px;
}

.sectiontwo {
    padding: 96px 0;
}

.planlist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 72px;

}

.listone {
    flex-basis: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;


}

.sectionthree {
    padding-bottom: 120px;
}

.planlisttwo {
    display: flex;

    flex-wrap: wrap;
}

.listik {
    flex-basis: calc((100% - 48px) / 3)
    
}



.workers {
    padding: 32px 0;
}

.logotypetwo {
    /* display: inline-block; */
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;


}


.headertwo {
    border-bottom: 1px solid #e7e9fc
}

.sectionsix {
    padding: 96px 0 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.listlist {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px
}

.listitemt {
    flex-basis: calc((100% - 3 * 24px) / 4)
}

.containertwo {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.photolist {
    flex-wrap: wrap;

    column-gap: 24px;
    row-gap: 48px;
}

.manyphotos {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photocon {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.display {
    display: flex;
}

.listparagraphtwo {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
    display: block;
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sone {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style-type: none;
}

.soneul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soneone {
    width: 40px;
    height: 40px;

}

.sonelink {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sonelink:hover {
    background-color: #404bbf;
}

.sonelink:focus {
    background-color: #404bbf;
}

.sonesvg {
    fill: #f4f4fd;
}

.use {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.section {
    padding:96px 0;
}

.cust {
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    margin-bottom: 72px;
    text-align: center;
}

.custul {
    display: flex;

    list-style-type: none;
}

.custlist {
    width: calc((100% - 120px) / 6);
    height: 88px;

}

.custlink {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custlink:hover {
    border-color: #404bbf;
    color: #404bbf;
}

.custlink:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.custsvg {
    fill: currentColor;
}

.foterdiv {

    align-items: baseline;

}

.meduza {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.center {
    text-align: center;
}

/* .okean {
    margin-right: 120px;
} */

.sonelinktwo {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.sonelinktwo:focus {
    background-color: #31d0aa
}

.sonelinktwo:hover {
    background-color: #31d0aa
}

.divscript {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modalwindow {
    width: 100%;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.btnclose {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnclose:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.btnclose:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.mobilemenubtn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svgbtn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio::after {
    position: absolute;
    left: 0;
    height: 4px;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
}

.portfolio {

    color: #404bbf;
}

.manyphotoslink {
    max-width: 360px;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.manyphotoslink:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    ;
}

.manyphotoslink:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    ;
}

.portimg {
    position: relative;
    overflow: hidden;
}

.text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.imgtwo {
    display: block;
}

.maniphotoslink:hover .text {
    transform: translateY(0%);
}

.manyphotoslink:focus .text {
    transform: translateY(0%);
}

.more {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.form {

    gap: 24px;
}

.input {
    width: 100%;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

::placeholder {
    color: #ffffff;
}

.foterbtn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.joystick {
    margin-left: 16px;
}

.modalparagrapf {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.banka {
    margin-bottom: 8px;
}

.bag {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.mirror {
    position: relative;
}

.modalinput {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalinput:focus {
    border-color: #4D5AE5;
}

.modalinput:focus+.svgbanka {
    fill: #4D5AE5;
}

.svgbanka {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.candy {
    margin-bottom: 16px;
}

.textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.textarea:focus {
    border-color: #4D5AE5;
}

.check {
    margin-bottom: 24px;
}

.checkk {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
}

.checkspan {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.aaa {
    color: #4d5ae5;
    margin-left: 3px;
}

.formbutton {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    margin: 0 auto;
}

/* .lake{margin-left: 80px;} */
.checkinp:checked+.checkk .checkspan {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.usemodal {
    background-color: #fcfcfc;
}
@media screen and (min-width: 320px) {
	.container {
		max-width: 428px;

	}

	.current::after {
		display: none;
	}

	.kincong {
		padding: 0 0 96px 0;
	}

	.modalwindow {
		max-width: 408px;
	}

	.custul {
		justify-content: center
	}

	.nav {

		width: 100%;
	}

	.bruh {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.burger {
		background: var(--WHITE, #FFF);
		padding: 24px 0 24px;
		justify-content: left;
		border: none;
		background-color: transparent;
		width: 32px;

	}

	.sectionone {
		padding: 112px 0;
	}

	.foterdiv {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.titleone {
		text-align: center;


		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: 1.11;
		letter-spacing: 0.02em;
		margin: 0 auto;
	}

	.mobilepx {
		display: none;
	}

	.con {
		margin: 0;
	}

	.menu-toggle {
		display: block;
		justify-content: right;
		width: 42px;
		margin: 0;
		height: 42px;
	}

	.menu-toggle:focus {
		background-color: rgba(0, 0, 0, 0);
	}

	.mobilemenu {
		position: fixed;
		top: 0;
		width: 100%;
		left: 0;
		height: 100vh;
		padding: 80px 0 40px 32px;
		background: var(--white, #FFF);
		box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
		z-index: 999;
		transition: transform 250ms ease-in-out;
		opacity: 0;
		visibility: hidden;
		display: flex;
		flex-direction: column;

	}

	.mobilemenu.is-open {
		opacity: 1;
		visibility: visible;
		pointer-events: initial;
	}


	.current {
		display: block;
		background-color: #FFF;
	}

	.address {
		display: none;
	}

	.menu {
		display: none;
	}

	.menumenu {

		display: inline-flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 40px
	}


	.titletwo {
		text-align: center;
	}

	.divtwo {
		display: none;
	}

	.listone {

		width: 100%;

		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
	}

	.listitemtwo {
		max-width: 264px;

		margin: 0 auto;
	}

	.listparagraphtwo {
		margin-bottom: 8px;
	}

	.custlist {
		width: calc((100% - 16px) / 3);
		width: 190px;

	}

	.custul {
		flex-wrap: wrap;
		flex-direction: row;
		gap: 72px 16px;
	}


	.mobilepx {
		max-width: 320px;
	}

	.sectionthree {
		display: none;
	}

	.sectionone {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg@1x\ mob.jpg);
	}

	.logotypetwo {


		display: block;
		margin-left: 0 auto;
		margin-right: 0 auto;
		text-align: center;
	}

	.paragraph {

		margin-top: 17.5px;
	}

	.foterstyle {

		flex-direction: column;
		flex-wrap: wrap;
		gap: 24px;
	}

	.meduza {

		text-align: center;
	}

	.soneul {

		height: 40px;

	}

	.more {

		text-align: center;
	}

	.lake {
		margin-top: 72px;
		width: 100%;
	}


	.input {
		width: 100%;
	}

	.foterbtn {
		margin: 16px auto 0;
	}






	.mobilebtn {
		stroke: var(--navyblue, #2E2F42);
	}

	.headerlink {


		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: 1.11;
		letter-spacing: 0.02em;
		text-transform: capitalize;


		margin-top: 32px;
		margin: 0;
		padding: 0;
	}

	.sone {
		width: 100%;
	}

	.specsone {
		max-width: 328px;
		justify-content: space-between;
	}

	.mobileli {
		margin-bottom: 40px;
	}

	.addresstwo {
		display: block;

		display: inline-flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 40px;
		margin-top: auto;
	}

	.connection {
		display: block;
		gap: 40px;
	}

	.tel {
		font-family: Roboto;
		font-size: 25px;
		font-style: normal;
		font-weight: 700;
		line-height: 1.6;
		letter-spacing: 0.03em;
		text-transform: capitalize;
		color: var(--IRIS, #4D5AE5);


	}

	.sectionfour {
		padding: 96px 0;
	}

	.mailone {
		font-family: Roboto;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0.02em;
		color: var(--SLATE, #434455);
	}

	.sonesone {
		margin-top: 72px;
	}
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 1158px;
	}

	.current::after {
		display: block;
	}

	.sonesone {
		margin-left: 24px;
	}

	.listitemtwo {
		max-width: 264px;

		margin: 0;
	}

	.input {
		min-width: 264px;
	}

	.container.vipcontainer {
		max-width: 552px;
		flex-wrap: wrap;
		padding: 0;
	}

	.custlist {
		margin: 0;
	}

	.modalwindow {
		width: 408px;
	}

	.nav {
		justify-content: start;
	}

	.burger {
		display: none;
	}

	.sectiontwo {
		justify-content: center;
	}

	.address {
		display: block;
	}

	.menu {
		display: flex;
		margin-left: 0;


	}

	.logotype {
		margin: 0;
		margin-right: 120px;
	}

	.meduza {
		margin-top: 0;

		text-align: left;
	}

	.headerlink {
		position: relative;
		font-family: Roboto;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 1, 5;
		letter-spacing: 0.02em;
		padding: 24px 0;
		display: block;
	}

	.divtwo {
		display: none;
	}

	.more {

		text-align: left;
	}

	.lake {
		margin-top: 72px;
	}

	.listone {
		display: flex;
		width: 100%;

		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		width: calc((100% - 24px) / 2);
		max-width: 356px;

	}

	.titletwo {
		text-align: left;
		margin: 0;
	}

	.planlist {
		flex-direction: row;
		gap: 72px 24px;
	}

	.custul {
		flex-wrap: wrap;
		flex-direction: row;
		gap: 72px 24px;

	}

	.custlist {
		width: calc((100% - 16px) / 2);
		width: 168px;

	}

	.sectionthree {
		display: none;
	}

	.sectionone {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg@1x\ tub.jpg);
	}

	.titleone {
		font-size: 56px;
		width: 496px;
		height: 120px;
	}

	.button {
		margin-top: 36px;
	}

	.foterdiv {
		margin: 0 auto;
		display: flex;
		justify-content: left;
	}

	.logotypetwo {
		text-align: left;
	}

	.footerstyle {
		padding: 97.5px 0 0 0;
	}

	.paragraph {
		margin-left: 0;
	}

	.okean {
		margin-left: 0;
	}



	.lake {

		flex-wrap: wrap;
	}

	.form {
		display: flex;
	}

	.foterbtn {
		margin: 0;
	}

	.teltwo {
		margin-top: 12px;
	}

	.sonesone {
		margin-top: 0;
	}

	.kingkong {
		justify-content: center;
	}
}



@media screen and (min-width: 1158px) {
	.container {
		max-width: 1128px;
		margin: 0 auto;
		padding: 0;
	}

	.input {
		width: 264px;

	}

	.listik {
		max-width: 360px;
		;
	}

	.titletwo {
		margin: 0;

		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 1, 2;
		letter-spacing: 0.02em;
	}

	.sectionone {
		padding: 188px 0;

	}

	.lake {
		margin-top: 0;
		margin-left: 80px;
	}

	.menu {
		display: block;
	}

	.sectiontwo {
		padding: 120px 0;
	  
	}

	.meduza {
		margin-right: 0;
	}

	.container.vipcontainer {
		max-width: 1158px;
	}


	.nav {
		width: 784px;
	}

	.sonesone {
		margin-left: 0;
	}

	.listone {
		min-width: 264px;

	}
.footerdiv{padding:0 156px;}
	.connection {
		display: flex;
	}

	.listparagraph {
		max-height: 72px;

		font-size: 1, 5;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.02em;
	}

	.okean {
		min-width: 264px;
		margin-right: 120px;

	}

	.teltwo {
		margin-top: 0;
	}

	.divtwo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 264px;
		height: 112px;
		background-color: #f4f4fd;
		border-radius: 4px;
		margin: 0;
	}

	.planlist {
		display: flex;
		gap: 24px;
		flex-wrap: nowrap;
		justify-content: center;
	}
.listparagraph{font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;}
	.planlisttwo {
		justify-content: center;
		gap: 24px;
	}

	.photolist {
		flex-wrap: wrap;

		column-gap: 24px;
		row-gap: 48px;
		display: flex;
	}

	.custul {
		gap: 24px;
		display: flex;
		min-width: 1128px;

		list-style-type: none;
	}

	.custlist {
		max-width: 168px;

		margin: 0;
	}

	.sectionthree {
		display: block;
	}

	.sectionone {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg@1x\ tub.jpg);
	}

	.form {
		display: flex;
		gap: 24px;
	}

	.foterbtn {
		margin: 0;
	}



	.input {
		width: 264px;

	}

	.paragraph {
		margin: 0;
	}

	.logotypetwo {
		margin: 0;
		margin-bottom: 17.5px;
	}


	.more {

		text-align: left;
		margin-bottom: 16px;
	}



	.menu {
		display: flex;
	}

	.container.vipcontainer {
		flex-wrap: nowrap;
	}

	.titleone {


		font-size: 56px;
		font-style: normal;
		font-weight: 700;
		line-height: 1.1;
 
		letter-spacing: 0.02em;
	}

	.address {
		display: flex;
	
	}

	.button {
		width: 169px;
		height: 56px;
	}

	.manyphotos {
		margin: 0;
	}
	.sectionfive{font-size: 20px;
	  font-style: normal;
	  font-weight: 500;
	  line-height: 1.2; 
	  letter-spacing: 0.02em;}
}

@media(min-resolution:192dpi),
(min-width: 320px) {
	.sectionone {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg@2x\ mob.jpg);
	}
}

@media(min-resolution:192dpi),
(min-width: 768px) {
	.sectionone {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1@2x\ desk.jpg);
	}
}

@media(min-resolution:192dpi),
(min-width: 1158px) {
	.sectionone {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg@2x\ tub.jpg);
	}
}